*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 宋体;
}
body{
    background-color: whitesmoke;
}
.navs,.footer{
    width: 100%;
    background-color: #a45daf;
}
.navs{
    height: 80px;
    line-height: 80px;
    padding: 0px 5%;
    font-size: 23px;
}
.navs .logo{
    width: 130px;
}
.navs .menus{
    width: 67%;
    height: 100%;
    margin-left: 40px;
}
a{
    height: 100%;
    text-align: center;
    text-decoration: none;
}
.navs a{
    color: #fff;
}
.navs .menus a{
    width: calc(100%/6.4);
    display: inline-block;
}
.navs .menus,.navs,.logo{
    float: left;
}
.navs .logins{
    float: right;
}
.navs .logins{
    width: 9%;
    float:right
}
img{
    object-fit: cover;
}
.mains{
    width: 100%;
    height: auto;
}
.banner{
    width: 100%;
    height: 95vh;
}

.menus a:nth-child(1){
    background-color: #8b3d80;
}

.footer{ 
    float: inline-end;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    color: white;
    text-align: center;
}.swiper{
    float: left;
    width: 100%;
    height: 800px;
    position: relative;/*父元素设置相对定位，方便子元素进行定位*/
}
.swiperimg{
    width: 100%;
    height: 100%;

}
.left{
    width: 50px;
    height: 80px;
    border: 2px solid #f0f0f0;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 280px;
    
}
.right{
    width: 50px;
    height: 80px;
    border: 2px solid #f0f0f0;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;    
    position: absolute;
    top: 280px;
    left: 1650px;
}